.login {
    display: grid;
    place-items: center;
    height:  100vh;
    background-color: #F6F8FC;
}

.login__container > img {
    height: 60px;
    object-fit: contain;

}

.login__container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
