.sendMail{
    position: absolute;
    right: 50px;
    bottom: 0;
    background-color: white;
    width: 35%;
    height: 45%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0, 0.24);
}

.sendMail__header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #07204B;
    background-color: #F2F6FC;
}

.sendMail__header > h3 {
    font-weight: 500;
    font-size: 14px;
}

.sendMail__send {
    background-color: #0C57D0 !important;
    text-transform: inherit !important;
    color: white !important;
    margin: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 20px !important;
}

.sendMail__header > .MuiSvgIcon-root {
    font-size: medium ;
    cursor: pointer;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input {
    height: 30px;
    padding: 6px;
    border: none;
    border-bottom: 1.2px solid whitesmoke;
    outline: none;
}

.sendMail__message {
    flex: 1;
}

.sendMail__error{
    color: red;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
}